.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.bookListHeader{
  margin-bottom: 10%;
  font-size: 50px;
  text-align: center;
}

#Books {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse:collapse;
  width: 90%;
  margin:0 auto;
}

#Books td, #Books th {
  border: 1px solid #ddd;
  padding: 8px;
  width: 30%;
  vertical-align: top;
}

#Books tr:hover {background-color: #ddd;}

#Books th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgb(225, 255, 245);
  color:black;
  font-size: 20px;
}

.header{
  font-size: 20px;
}
.imageBook{
  height: 70%;
}
/* #clear{
  
} */
add class checked  
.checked {
  text-decoration: line-through;
  color: grey;
}