.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.pageHeader{
  background-image: url('https://st.depositphotos.com/2121483/3263/v/450/depositphotos_32630089-stock-illustration-modern-minimalistic-furniture-interior-design.jpg');
  height: 170px;
  margin-bottom: 2%;
}
.bookListHeader{
  /* display: inline; */
  font-size: 50px;
  text-align: center;
  color:black;
  /* width: 300px; */
}

#Books {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse:collapse;
  width: 90%;
  margin:0 auto;

}

#Books td, #Books th {
  border: 1px solid #ddd;
  padding: 8px;
  width: 30%;
  vertical-align: top;
}

#Books tr:hover {background-color: #ddd;}

#Books th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgb(234, 247, 242);
  color:black;
  font-size: 20px;
}
/*   background-color: rgb(225, 255, 245); */
.header{
  font-size: 20px;
}
.imageBook{
  height:auto;
  width: 200px;
}

.checked {
  text-decoration: line-through;
  color: grey;
}

.NoBook{
  text-align: center;
  margin-top: 100px;
  font-size: 40px;
  color:  rgb(1, 6, 10);
}
.About{
  font-size: 25px;
  color: rgb(115, 160, 228);
  margin-left: 20px;
  text-align: center;
}
.form{
   width: 20% !important;
}
.btn{
  background-color: rgb(234, 247, 242) !important ;
  border:1px solid rgb(129, 126, 126) !important ;
  width: 130px;
}
.btn1{
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  margin-left: 30px;
  justify-content: flex-start;
}
.btnCheckedClear{
  border:1px solid rgb(129, 126, 126) !important ;
  border-radius: 0.25rem;
  width: 180px;
  height: 30px;
}
.count{
  border-bottom:1px solid rgb(129, 126, 126) !important ;
  width: 140px;
  height: 30px;
}
.date{
text-align: right;
margin-left: 450px;
font-size: 19px; 
color: rgb(187, 180, 180)
}
                            /* ***** Media queries not completed yet :) ***** */     

 @media only screen and ( max-width: 960px){
  
  .bookListHeader {
    text-align: center;
    width: 80%;
    font-size: 50px;
  }
  /* .pageHeader{
    height: 147px;
    margin-bottom: 2%;
    width: 1000px;
  } */
 
  .btn{
    background-color: rgb(234, 247, 242) !important ;
    border:1px solid rgb(129, 126, 126) !important ;
    width: 130px !important;
    margin-top: 4px !important;
  }
  
}
                                                                                                   
@media only screen and (max-width: 640px) {
.bookListHeader {
  text-align: center;
  width: 100%;
  font-size: 50px;
}
.pageHeader{
  height: 147px;
  margin-bottom: 2%;
  width: 649px;
}

#Books {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse:collapse;
  width: 90%;
  margin:0 auto;
}

/* .input-group{
  margin-right: 12px !important;
} */

.btn{
  background-color: rgb(234, 247, 242) !important ;
  border:1px solid rgb(129, 126, 126) !important ;
  width: 100px !important;
  margin-top: 4px !important;
}

}

/*Text-size*/
/* @media (min-width: 640px) { #data {font-size:1rem;} } 
@media (min-width:960px) { #data {font-size:1.2rem;} } 
@media (min-width:1100px) { #body {font-size:1.5rem;} } */

/* https://s3-eu-west-1.amazonaws.com/images.linnlive.com/46f002540b02bbcc49ff64da6bbb6eee/9fd66cf9-b5e2-4ba7-9c8a-55648b3a14cc.jpg */
